<div class='container'>

<p>Please fill out the form below to be added to our customer list.</p>

<form class="navbar-form navbar-left" role="search" action='/add_holder' method='post'>
    <div class="form-group">

      <input type='text' name='amount' class='form-control' placeholder='Name'>
      <input type='text' name='amount' class='form-control' placeholder='Email'>
      <input type='text' name='amount' class='form-control' placeholder='Phone'>
      <input type='text' name='amount' class='form-control' placeholder='Postcode'>
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  </form>

</div>
