<div class='container'>

  <p>Looking to refurbish, update or add to your home?</p>
  <p>John Prior (Home Improvements) Ltd. based in South London can help you.</p>
  <p>Our experienced team is committed to handling every job, whether small or large, with complete dedication and promises to deliver a professional, local service.</p>
  <p>We believe in giving our customers the best using the most suitable materials and the highest standards of workmanship.</p>
  <p>Please view the slideshow and see for yourself the variety and committment to excellence.</p>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat='service in services'>
      <div class="thumbnail">
        <div class='image-container' ng-class="{'alt': service.show}" ng-style="{'background-image': 'url(' + service.photo + ')'}">
          <p class='service-text' ng-show="service.show">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla est justo, nec pellentesque ex dictum et. Etiam laoreet, justo in condimentum sodales, nisi sapien euismod dolor, vitae feugiat nulla dui eu eros. Ut efficitur vel ipsum et pellentesque. Sed placerat risus eget euismod mattis.</p>
        </div>
        <div class="caption">
          <h6>{{ service.name }}</h6>
          <button ng-click="service.show=!service.show" class='service-button'>More</button>
        </div>
      </div>
    </div>
  </div>

</div>